.none{
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1000px) {

  *{
  flex-wrap: nowrap;
  justify-content: flex-start;
  }

  .navbar-nav {
    flex-direction: row;
  }

   .nav-link {
      padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
      padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
    }
  

  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display: flex !important; 
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .form-singup{
    background: bg-red
  }

}


